html, body {
    margin: 0;
    padding: 0;
}

#navigation
{
    float: left;
    height: 100vh;
    width: 300px;
    background-color: aliceblue;
}

#content
{
    box-sizing: border-box;
    padding: 20;
    float: left;
    width: calc(100% - 400px);
    height: 100vh;
}